<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html xmlns:th="http://www.thymeleaf.org"></html>
    <title>BOTH</title>
    <link rel="icon" type="image/x-icon" href="/img/firework.png">

    <style>
        body {
            background-color: rgb(45, 73, 137);
            color: white;
            text-align: center;
            padding-top: 60px;
        }
    </style>
</head>
<body>

    <h1>Best of The year by : [[${name}]]
    </h1>
    
</body>
</html>